h1 {
    font-size: 35px;
}
  
h1 {
    font-size: 21px;
    margin-top: 20px;
}
  
.calculador {
    width: 400px;
    height: 450px;
    background-color: black;
    margin-left: 35%;
    padding: 20px 0px 0px 100px;
    border-radius: 50px;
    color: white;
}
  
input {
    padding: 7px;
    width: 70%;
    margin-top: 7px;
}
